@model IPagedList<BookSearchViewModel>
@{
    ViewBag.Title = "Choose your next book";
}

@section featured {
  <div class="jumbotron">
     <div class="container" >
      <h1>@ViewBag.Title.</h1>
      <h2>@ViewBag.Message</h2>
      <div class="row">
          <div class="col-xs-6">
               <p> "There is no friend as loyal as a book" ― Ernest Hemingway</p>
               <a class="btn btn-info btn-lg" href="http://www.goodreads.com/" title="Goodreads">More Books</a>
          </div>
          <div class="col-xs-6">
               <img src="../Images/books.jpg" class="img-responsive" alt="Books" >
          </div> 
      </div>
    </div>
  </div>
}

@Html.Partial("_Books", Model)
